


.witbtn .whitebttn {
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
  margin-bottom:5px;
  width: 30%;
  transition: transform .3s ease-in-out;
  float: left;
  
}

.IMG img {
  height: auto;
  width: 70%;
}





.whitebttn:hover {
    transform: scale(1.2);
}

.witbtn {
  margin-bottom: 20px;
}

.flex-parent {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .flex-parent {
      display: block;
  }
  .witbtn .whitebttn{
    margin-top: 5px;
    margin-bottom:5px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
}

.jc-center {
  justify-content: center;
}



