.footer {
  width: 100%;
  bottom: 0px;
  background-color: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  color: #dadada;
  text-align: center;
  height: 80px;
  line-height: 5;
  float: left;
  
}

.footindex {
  background-color: #00101f !important;
}

.footimg {
  position: relative;
  top: 8px;
  opacity: 80%;
  width: 30px;
  height: 30px;
}

.footimg:hover {
  opacity: 100%;
}