.witbtn .whitebttn {
    text-align: center;
    border-radius: 15px;
    border: 1px solid #dadada;
    cursor: pointer;
    font-family: 'm plus rounded 1c', sans-serif;
    font-size: 20px;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: .5%;
    margin-bottom: .5%;
    width: 30%;
    transition: transform .2s ease-out;
    float: left;
}

.whitebttn:hover {
    background-color: white;
    color: #333333;
    transform: translateY(-.15em);
}

.witbtn {
    margin-bottom: 20px;
}

.flex-parent {
    display: flex;
}

@media only screen and (max-width: 700px) {
    .flex-parent {
        display: block;
    }
    .witbtn .whitebttn {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}

.jc-center {
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .scrllAnim {
        animation: comedown 1.5s;
        animation-delay: .5s;
        transform: translate(0, -35px);
        opacity: 0;
        animation-fill-mode: forwards, none;
    }
}

@keyframes comedown {
    0% {
        transform: translate(0px, -20px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}


/*
  60% {transform: scale(1.1,1.1)}
  95% {transform: scale(1,1)} 
  100% {transform: scale(1,1)}

-------

	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}

*/

.divider {
    width: 90%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.meImg {
    width: 40%;
    height: 40%;
    float: left;
    border-radius: 15px;
    margin-right: 60px
}

.meImg2 {
    width: 40%;
    height: auto;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
}

.aboutMeWrap {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17vh;
    margin-bottom: 17vh;
    border-radius: 15px;
    padding: 40px;
    background: #36393f;
    width: 66vw;
    box-shadow: 0 8px white;
}

.aboutMeParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p11 {
    text-align: left;
    font-size: 2.6vmin;
    line-height: 2vw;
}

.h21 {
    text-align: left;
    font-size: 3.8vw;
}

.socialWrap {
    background-color: #36393f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -8px white;
}

.p12 {
    text-align: center;
    font-size: 2.7vmin;
    line-height: 3.7vmin;
    padding: 20px;
}

.p13 {
    text-align: center;
    font-size: 3.2vmin;
    line-height: 2.3vmin;
    padding: 0px;
    color: white;
}

.h22 {
    text-align: center;
    font-size: 3.3vw;
}


@media only screen and (max-width: 770px) {
    img.meImg {
        width: 70%;
        height: auto;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        border-radius: 15px;
    }
    .aboutMeWrap {
        display: block;
        border-radius: 15px;
        padding: 15px;
        margin-top: 14.5vh;
        margin-bottom: 14.5vh;
    }
    .h21 {
        text-align: center;
        font-size: 8vw;
    }
    .p11 {
        text-align: center;
        margin: 0em;
        font-size: 2.6vw;
        line-height: 3.5vw;
    }
    .resize {
        width: 65%;
        height: auto;
    }
    .meImg2 {
        width: 70%;
        height: 70%;
    }
    .h22 {
        text-align: center;
        font-size: 7vw;
    }
    .p12 {
        text-align: center;
        margin: 0em;
        font-size: 2.6vw;
        line-height: 3.5vw;
    }

}

.bapvid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.bapvid>iframe {
    max-width: 840px;
    width: 100%;
/*    max-height: 472.5px;
    height: 100%;*/
    margin: 10px;
}

.ad {
    background-image: url(https://chriz.discowd.com/r/stampedeBanner2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
   /* margin-top: 10%;
   /* margin-bottom: 10%; */
    box-shadow: 0 0 50px 60px #36393f inset; 
    

}

/*
#scrollDown {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(76, 0, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
*/