body {
    background-image: url("https://chriz.discowd.com/r/bapBannerYT_smaller.png");
    background-attachment: fixed;
    background-position: 50%;
    background-color: #009f00;
    background-size: cover;
    font-family: 'rubik', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #dadada;
    line-height: 20px;
    margin: 0;
    position: relative;
}

.discontinuedParent {
  display: flex;
  justify-content: center;
}

.discontinued {
  /* display: block; */
  font-family: 'baloo 2' ,cursive;
  top: -5vh;
  font-size: 2vh;
  color: #f23f42;
  padding-left: 3vh;
  padding-right: 3vh;
  line-height: 4vh;
  background-color: #511415;
  border: solid #f23f42 .3vh;
  border-radius: 5vmin;
  position: fixed;
  z-index: 999;
  animation: discontinued .7s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards, none;
  /* margin-top: 5vh; */
  /* border-right: none;
  border-left: none; */
}

@keyframes discontinued {
  1% {
    top:-5vh;
    /* transform: translateY(-5vh); */
  }
  70% {
    top: 7vh;
    /* transform: translateY(12vh); */
  }
  100% {
    top: 5vh;
    /* transform: translateY(10vh); */
  }
}

h1 {
    /*font-family: 'bungee', cursive;*/
    font-family: 'hotGrill';
   /* letter-spacing: '3px';*/
    font-size: 52px;
    font-style: normal;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'ubuntu', cursive;
    font-size: 32px;
    font-style: normal;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-family: 'ubuntu', cursive;
    font-size: 20px;
    color: #dadada;
    text-align: center;
    margin-top: 0;
    margin-right: 10%;
    margin-left: 10%;
}

p1 {
    text-align: center;
    display: block;
    font-size: 18px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0em;
    margin-bottom: 3em;
}

a {
    color: #dadada;
    text-decoration: none;
}

a:hover {
    color: white;
}

.last {
    margin-bottom: 6em;
    text-align: center;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth
}

html {
  --scrollbarBG: #1b1e20;
  --thumbBG: #cfcfcf;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

::-webkit-scrollbar-thumb:hover {
  background: #009f00; 
}

@font-face {
  font-family: 'hotGrill';
  src: url('HOT-GRILL-demo.ttf') format('truetype');
}